@page
@model WebApp.Pages.DashboardModel
@{
    string divClass = "";
    if(Model.Username == null)
    {
        divClass = "text-danger";
    }
    else
    {
        divClass = "card card-title";
    }
    <div class="@divClass">@Model.Message</div>
}

@{
    if (Model.LoggedIn)
    {
        // a form model (Data Transfer Object) => string CurrentPassword, string NewPassword1, string NewPassword2
        // a link that gets me to the change password razor page
    }
}
