@page
@model KoukouModel
@{
    ViewData["Title"] = "Koukou Title";
}
<h1>@ViewData["Title"]</h1>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore in minus nisi aperiam distinctio corrupti necessitatibus saepe nostrum enim dolore. Illo necessitatibus error quam, incidunt laudantium deserunt repudiandae odit nobis..</p>
